@font-face {
	font-family: ralewaybold;
	src: url('../font/raleway-bold_[allfont.ru].ttf');	
}
@font-face {
	font-family: opensansbold;
	src: url('../font/open-sans-bold_[allfont.ru].ttf');
}
@font-face {
	font-family: ralewayregular;
	src: url('../font/raleway-regular_[allfont.ru].ttf');
}
body {
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 1170px;
}
body a {
	text-decoration: none;
}

/* header begin */

header {
	height: 750px;	
	background-color: #000;
	background-image: url('../img/bg_header.png');	
}
.width {
	width: 1170px;
	margin: 0 auto;
}
header img {
	float: left;
	margin: 40px 0 40px 0;
}
header ul {	
	margin-top: -15px;	
}
header li {
	float: right;
	display: inline-block;	
	margin-top: 45px;
	border: 0;
}
header li a {
	color: #cccdd3;
	padding-left: 60px;
	text-transform: uppercase;
	font-family: "ralewaybold", arial, sans-serif;
	font-size: 13px;	
}
header hr {
	clear: both;	
	height: 1px;
	background-color: #505269;
	border: none;
}
header h1 {
	text-transform: uppercase;
	color: #fff;
	font-size: 60px;
	text-align: center;
	font-family: opensansbold, arial, sans-serif;
	margin: 130px 120px 0 120px;
}
header p {
	font-family: ralewayregular, arial, sans-serif;
	font-size: 18px;
	color: #fff;
	text-align: center;
	margin: 33px 200px 0 200px;
}
.width > a {
	display: inline-block;  
	padding: 19px 45px;
	margin-top: 50px;
	background-color: #e84545;
	color: #fff;	
	margin-left: 490px;
	text-transform: uppercase;
	border-radius: 4px;
}

/* header end */

/* feature begin */

.features {
	height: 700px;
	background-color: #fff;
}
.feature_tamble {
	display: inline-block;
	width: 332px;
	text-align: center;
	margin-top: 120px;
}
.feature_tamble:nth-child(3n+2) {
	margin-left: 80px;
	margin-right: 80px;
}
.feature_tamble h2 {
	font-family: ralewaybold, arial, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
}
.feature_tamble p {
	font-family: ralewayregular, arial, sans-serif;
	color: #6c7279;
	font-size: 14px;
}

/* feature end */

/* work begin */

.work {
	height: 705px;
	background-color: #2b2e4a;	
}
.work ul, .work li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.work li {
	display: inline-block;
	position: relative;
	width: 24.8%;
	min-width: 312px;
	vertical-align: top left;
	margin-right: -2px;
	margin-bottom: -4px;
	overflow: hidden;
}
.work img {
	max-width: 100%;
	height: 100%;
	display: block;
	border: 1px solid #fff;
}
.desp {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 0, 0, .5);
	opacity: 0;
	transition: all .5s;
	color: #fff;
	text-align: center;
	padding-top: 80px;
	text-transform: uppercase;
}
.work li:hover .desp {
	opacity: 1;
}


/* work end */

/* team begin */

.team {
	height: 815px;
	font-family: ralewayregular, arial, sans-serif;
}
.team h2 {
	color: #2d3033;		
}

.team1, .team2, .team3, .team4 {
	display: inline-block;
	margin-top: 105px;
	margin-right: 25px;
	width: 270px;
}

.team4 {
	margin-right: 0;
}
.team p {
	color: #6c7279;  color="#e8ecee"
}
p.team_prof {
	color: #e84545;
	margin-top: -10px;
}
.team img.social {
	border: 2px solid #e8ecee;
	padding: 5px;
	width: 15px;
	height: 15px;
	margin-top: 15px;
}

/* team end */


/* footer begin */

footer {
	height: 345px;
	background-color: #3a3e64;
}
.footer {
	display: inline-block;
	text-align: center;
	width: 160px;
	margin-top: 70px;
	margin-bottom: 85px;
	vertical-align: top;
	margin-left: 135px;
}
.footer h3 {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-family: ralewaybold, arial, sans-serif;
}
.footer p {
	color: #9d9fb2;
	font-family: ralewayregular, arial, sans-serif;	
}
.footer img {
	border: 2px solid #fff;
	padding: 10px;
	width: 15px;
	height: 15px;
}
.footer:nth-child(2) {
	margin: 70px 15px 0 205px;
}
.about {
	width: 337px;
}
.after {
	height: 90px;
	background-color: #313454;
	text-align: center;
	color: #6c7279;
	font-size: 14px;
	padding-top: 5px;
	font-family: ralewayregular, arial, sans-serif;
}
.after span {
	color: #fff;
}